*{
 	box-sizing: border-box;
 	margin: 0;
 	padding: 0;
 }
 .row {
    width: 100%;
  }

h1 {
	margin: 15px;
	text-align: center;
}
#chicken {
    width: 33%;
    position: relative;
   }
   #beef {
    width: 33%;
    position: relative;
   }
   #sushi {
    width: 33%;
    position:relative;
   }

#chickentitle {
   	
   	position:absolute;
    background: red;
    border: 1px solid black;
    text-align: center;
    
    right: 22px;
     overflow: hidden;
     padding-right: 15px;

   	
   }
   #beeftitle {
    
    position:absolute;
    background: green;
    border: 1px solid black;
    text-align: center;
    top:0;
    right: 0;
    overflow: hidden;
    
   }
   #sushititle {
    
    position:absolute;
    background: orange;
    border: 1px solid black;
    text-align: center;
    top:0;
    right: 0;
     overflow: hidden;
    
   }
  
    p {
  	border: 1px solid black;
  	background: gray;
  	width: 90%;
  	height:150px;
  	margin-right: auto;
  	margin-left: auto;
  	font-family: Helvetica;
  	color: white;
  	padding-top: 50px;
    padding-left: 15px;
  }
  
   


   @media(min-width: 992px) {
       #chicken, #beef, #sushi {
       	float: left;
       	/*border: 1px solid black;*/
       }
   	#chicken {
   		width: 33% ;
   	}
   	#beef {
   		width: 33%;
   	}
   	#sushi {
   		width: 33% ;
   	}
   	
   }

   @media(min-width: 768px) and (max-width: 991px) {
       #chicken, #beef, #sushi {
       	float: left;
       	/*border: 1px solid black;*/

       }
   	#chicken {
   		width: 50% ;
   	}
   	#beef {
   		width: 50%;
   	}
   	#sushi {
   		width: 100% ;
      margin: 20px;
   	}
   	
   }

@media(min-width: 0px) and (max-width: 767px) {
       #chicken, #beef, #sushi {
      	float: left;
       	/*border: 1px solid black;*/
        margin: 15px;
       }
   	#chicken {
   		width: 100% ;
   	}
   	#beef {
   		width: 100%;
   	}
   	#sushi {
   		width: 100% ;
   	}
   	
   }
